<!doctype html>
<!--suppress ALL -->
<html ng-app="availabilityBoard" ng-controller="availabilityController">
<head>
	<title>{{sprint.name}}</title>
	<script src="js/lib/jquery-2.1.4.min.js"></script>
	<script src="/webjars/angularjs/1.5.0/angular.min.js"></script>
	<script src="/webjars/angularjs/1.5.0/angular-sanitize.min.js"></script>
	<script src="/webjars/angular-xeditable/0.1.11/dist/js/xeditable.min.js"></script>
	<link href="/webjars/angular-xeditable/0.1.11/dist/css/xeditable.min.css" rel="stylesheet" />
	<script src="js/lib/moment-with-locales-2.11.2.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/style.css"/>
</head>

<body>
	<div class="content">
		<div style="float: left">
			<h1><a href="#" editable-text="sprint.name" buttons="no" blur="submit">{{sprint.name}}</a></h1>
			<h1>by team {{sprint.team}}</h1>
		</div>
		<div style="float: right; text-align: right">
			<a class="clickable" href="index.html">&raquo;Back to Sprint List</a>
			<div class="sprint-actions">
				<button id="updateSprintButton" ng-disabled="!sprintChanged()" ng-click="saveSprint()" title="Save changes to Sprint name, status and story points">Save</button>
				<button ng-click="addPerson()" ng-disabled="sprintChanged()" ng-attr-title="{{'Add Person' + (sprintChanged() ? ' (only possible when sprint is saved)' : '')}}">Add Person</button>
			</div>
		</div>
		<div style="clear: both"></div>

		<h2>
			Start:
			<a href="#" editable-date="sprint.startDate" buttons="no" blur="submit">{{formatTime(sprint.startDate)}}</a>
			- End:
			<a href="#" editable-date="sprint.endDate" buttons="no" blur="submit">{{formatTime(sprint.endDate)}}</a>
			-  Status:
			<span>
				<span id="sprintStatus" ng-click="statusPopup(sprint.id)" class="status {{getClassForStatus(sprint.status)}}">{{getStatusText(sprint.status)}}</span>,
				<ul id="{{sprint.id}}" style="display: none">
					<li class="clickable upcoming" title="upcoming" ng-click="setSprintStatus(1)">upcoming</li>
					<li class="clickable in_progress" title="in progress" ng-click="setSprintStatus(2)">in progress</li>
					<li class="clickable ended" title="ended" ng-click="setSprintStatus(3)">ended</li>
				</ul>
			</span>
			<br />
			Story Points done / planned:
			<span class="story-points">
				<a href="#" editable-number="sprint.pointsCompleted" buttons="no" blur="submit">{{sprint.pointsCompleted}}</a>
				/ <a href="#" editable-number="sprint.pointsPlanned" buttons="no" blur="submit">{{sprint.pointsPlanned}}</a>
			</span>
		</h2>
		<table>
			<tr>
				<th>Name</th>
				<th ng-repeat="day in tableHeaders track by $index">{{day}}</th>
			</tr>
			<tr ng-repeat="person in sprint.developers" class="person hoverable">
				<td class="name">{{person.name}}</td>
				<td ng-repeat="day in person.days track by $index">
					<div ng-bind-html="getMarkup(day).character" class="clickable {{getMarkup(day).class}}" ng-click="availabilityPopup(makeId(person.name) + '_' + $index)"></div>
					<ul id="{{makeId(person.name) + '_' + $index}}" style="display: none">
						<li class="clickable available" title="available" ng-click="setAvail(person, $index, 1)">&#x2713;</li>
						<li class="clickable available" title="partially available" ng-click="setAvail(person, $index, 0.5)">(&#x2713;)</li>
						<li class="clickable notavailable" title="out of office" ng-click="setAvail(person, $index, 2)">O</li>
						<li class="clickable notavailable" title="busy" ng-click="setAvail(person, $index, 3)">X</li>
						<li class="clickable notavailable hideonupcoming" title="unplanned" ng-click="setAvail(person, $index, 4)">:(</li>
					</ul>
				</td>
				<td class="person-actions">
					<button ng-click="removePerson(person)">X</button>
				</td>
			</tr>
			<tr class="spacer">
				<td class="spacer"></td>
			</tr>
			<tr ng-repeat="person in sprint.nondevelopers" class="person hoverable">
				<td class="name">{{person.name}}</td>
				<td ng-repeat="day in person.days track by $index">
					<div ng-bind-html="getMarkup(day).character" class="clickable {{getMarkup(day).class}}" ng-click="availabilityPopup(makeId(person.name) + '_' + $index)"></div>
					<ul id="{{'' + makeId(person.name) + '_' + $index}}" style="display: none">
						<li class="clickable available" title="available" ng-click="setAvail(person, $index, 1)">&#x2713;</li>
						<li class="clickable available" title="partially available" ng-click="setAvail(person, $index, 0.5)">(&#x2713;)</li>
						<li class="clickable notavailable" title="out of office" ng-click="setAvail(person, $index, 2)">O</li>
						<li class="clickable notavailable" title="busy" ng-click="setAvail(person, $index, 3)">X</li>
						<li class="clickable notavailable hideonupcoming" title="unplanned" ng-click="setAvail(person, $index, 4)">:(</li>
					</ul>
				</td>
				<td class="person-actions">
					<button ng-click="removePerson(person)">X</button>
				</td>
			</tr>
			<tr class="spacer">
				<td class="spacer"></td>
			</tr>
			<tr>
				<td class="summary" colspan="11">= {{calculateDevDays(sprint.developers)}} developer days in this sprint ({{percentTotal(sprint.developers)}} of a total of {{totalDays(sprint.developers)}} days) - including <span class="ended">{{getUnplannedAbsences(sprint.developers)}}</span> day(s) of <span class="ended">unplanned</span> absence</td>
			</tr>
		</table>
		<div class="legend">
			<strong>Legend</strong>:
			<span class="noneselected">?</span> = not yet selected,
			<span class="available">&#x2713;</span> = available,
			<span class="available">(&#x2713;)</span> = partially available,
			<span class="notavailable">O</span> = out of office,
			<span class="notavailable">X</span> = busy with non-sprint stuff,
			<span class="notavailable">:(</span> = unplanned absence&nbsp;&nbsp;<br><strong>(click table cell to change)</strong>
		</div>
	</div>

	<div class="errorpopup" style="display:none" id="saveerror" onclick="$('#saveerror').hide();">
		<div>
			<span>x</span>
			Could not save, something went wrong.
		</div>
	</div>
	<div class="errorpopup" style="display:none" id="loaderror" onclick="$('#loaderror').hide();">
		<div>
			<span>x</span>
			Could not load the data.
		</div>
	</div>
</body>
</html>
