html, body {
	width: 100%;
	height: 95%;
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica, sans-serif;
	background: url(../img/background.png) #B2AD9F fixed no-repeat center;
	background-size: 100% 100%;
}

* {
	border-radius: 2px;
}

.content {
	margin: 10px auto;
	max-width: 1200px;
}

.content > div {
	padding: 0.5em 3px;
}

h1, h2 {
	color: white;
	text-shadow: 1px 1px 3px #000000;
	margin: 0.4em 0;
}

h1 a, h1 a:visited {
	color: #ddd;
}

h1 button {
	float: right;
	font-size: smaller;
	width: 140px;
	padding: 0.2em;
}

h1 input, h2 input {
	color: white;
	text-shadow: 1px 1px 3px #000000;
	background: transparent;
	font-size: 130%;
	border: none;
	width: 70%;
}

h2 input {
	font-size: 100%;
	width: 1.5em;
	text-align: right;
}

h1 .clickable:hover {
	color: white;
	background: transparent;
}

h2 ul {
	text-shadow: none;
	color: black;
}

table {
	color: #333;
	background: transparent;
	border-collapse: normal;
	width: 100%;
	border: none;
	border-spacing: 3px;
}

tr {
	background: white;
}

th, td {
	text-align: center;
	padding: 0;
	width: 100px;
	box-shadow: 1px 1px 0px #B2AD9F;
}

ul {
	position: absolute;
	margin: -5px;
	padding: 0;
	width: 100px;
	background: white;
	box-shadow: 2px 2px 4px #000;
}

h2 ul {
	left: 35%;
	font-size: 70%;
	margin: -8px 10em;
}

#add_users_popup {
	width: 200px;
}

li {
	list-style-type: none;
	margin: 0;
}

a, a:visited {
	color: #555;
	text-decoration: none;
	font-weight: bold;
}

td a {
	display: block;
	margin: 0;
	padding: 0.5em;
}

tr.new td {
	padding: 0.5em;
	background: white;
}

input, select {
	border: 1px solid #ddd;
	background: white;
	color: #333;
	font-size: larger;
	width: 90%;
}

tr.new input.error, tr.new select.error {
	background: #ffdddd;
}

input[type=submit], button {
	border: none;
	font-weight: bold;
	background-color: #ddd;
	box-shadow: 1px 1px 2px #000;
}

input[type=submit]:disabled:hover, button:disabled:hover {
	background: #ddd;
	cursor: default;
}

tr.new input[type=checkbox] {
	border: 1px solid;
	background: white;
	width: auto;
}

tr.new li {
	text-align: left;
	padding: 0.3em 0.5em;
}

tr.new li:first-child {
	padding: 0.5em;
	display: block;
}

tr:nth-child(even) {
	background: #f0f0f0
}

li:nth-child(even) {
	background: #f0f0f0
}

li button {
	float: right;
}

tr.new li b {
	display: block;
}

tr.new li:last-child {
	height: 1.5em;
	padding: 0.5em;
}

tr.new li:last-child button {
	margin-top: 0.2em;
}

button {
	font-size: 100%;
}

button:hover, input[type=submit]:hover {
	background-color: #f0f0f0;
}

button:active, input[type=submit]:active {
	box-shadow: none;
}

th, td.name, td.summary {
	padding: 0.5em;
}

td.summary {
	font-weight: bold;
	color: green;
}

.spacer {
	background: transparent !important;
	height: 10px;
	box-shadow: none;
}

th:first-child, td:first-child {
	text-align: left;
}

.clickable {
	margin: 0;
	padding: 0.5em;
}
td.clickable {
	padding: 0;
}

.actions .clickable {
	display: inline;
}

.clickable:hover {
	background: #ffeeee;
	cursor: pointer
}

.available {
	color: green;
}

.notavailable {
	color: red;
}

.legend {
	margin-top: 1em;
	color: white;
	text-shadow: 1px 1px 5px #000000;
	text-align: center;
}

.ended {
	color: red;
}
.in_progress {
	color: green;
}
.upcoming {
	color: orange;
}

.errorpopup {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.errorpopup span {
	cursor: pointer;
	float: right;
	color: red;
	display: inline-block;
	height: 2em;
	width: 2em;
	margin-top: -2em;
	margin-right: -3em;
}

.errorpopup > div {
	width: 300px;
	margin: 10% auto;
	padding: 2em;
	background: white;
	color: red;
}
