body {
	font-family: Helvetica, sans-serif;
	margin: 5px;
	padding: 0;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: center;
	padding: 0;
	border: 1px solid black;
	width: 100px;
}

ul {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100px;
	background: white;
	border: 1px solid black;
}

h2 ul {
	left: 35%;
	font-size: 70%;
}

li {
	list-style-type: none;
	margin: 0;
}

a {
	color: blue;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: blue;
}

td a {
	display: block;
	margin: 0;
}

tr.new td {
	padding: 0.5em;
}

tr.new input {
	font-size: larger;
	width: 90%;
}

input[type=submit], button {
	border: 1px solid;
	background-color: white;
}

button {
	font-size: 100%;
}

button:hover {
	background-color: #f0f0f0;
}

input[type=submit]:hover {
	background-color: #eeeeee;
}

th, td.name, td.summary {
	padding: 0.5em;
}

td.summary {
	font-weight: bold;
	color: green;
}

td.spacer {
	background: #000;
	height: 3px;
}

th:first-child, td:first-child {
	text-align: left;
}

.clickable {
	margin: 0;
	padding: 0.5em;
}

.clickable:hover {
	background: #eeeeee;
	cursor: pointer
}

.available {
	color: green;
}

.notavailable {
	color: red;
}

.legend {
	margin-top: 1em;
}

.ended {
	color: red;
}
.in_progress {
	color: green;
}
.upcoming {
	color: orange;
}

#saveerror {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

#saveerror span {
	float: right;
	color: red;
	display: inline-block;
	height: 2em;
	width: 2em;
	margin-top: -2em;
	margin-right: -3em;
}

#saveerror div {
	width: 300px;
	margin: 10% auto;
	padding: 2em;
	background: white;
	color: red;
}
