<!doctype html>
<!--suppress ALL -->
<html ng-app="availabilityBoard" ng-controller="boardListController">
<head>
	<title>YANAP Availability Board</title>
	<script src="js/lib/jquery-2.1.4.min.js"></script>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-sanitize.js"></script>
	<script src="js/lib/moment-with-locales-2.11.2.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/style.css"/>
</head>

<body>
	<div class="content">
		<h1>Sprint List</h1>
		<form action="" method="POST">
			<table>
				<tr>
					<th>Name</th>
					<th>Team</th>
					<th>Start</th>
					<th>End</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="sprint in boards">
					<td class="clickable name"><a href="board.html?id={{sprint.id}}">{{sprint.name}}</a></td>
					<td class="name">{{sprint.team}}</td>
					<td class="date">{{formatTime(sprint.startDate)}}</td>
					<td class="date">{{formatTime(sprint.endDate)}}</td>
					<td class="status {{getClassForStatus(sprint.status)}}">{{getStatusText(sprint.status)}}</td>
					<td class="actions">
						<!-- <a class="clickable" href="" ng-click="deleteSprint(sprint)">delete</a>-->
					</td>
				</tr>
				<tr class="spacer">
					<td class="spacer" colspan="12"></td>
				</tr>
				<tr class="new">
					<td><input type="text" maxlength="50" id="newSprintName" value="" placeholder="Sprint Name" ng-model="newSprint.name" onkeydown="$('#newSprintName').removeClass('error')"></td>
					<td>
						<select id="newSprintTeam" ng-model="newSprint.team" ng-change="getUsersByTeam()">
							<option>Abraxas</option>
							<option>Elwetritsch</option>
							<option>Moby</option>
						</select>
					</td>
					<td><input ui-date type="date" id="newSprintStart" placeholder="JJJJ-MM-TT" ng-model="newSprint.startDate" onkeydown="$('#newSprintStart').removeClass('error')"></td>
					<td><input ui-date type="date" id="newSprintEnd" placeholder="JJJJ-MM-TT" ng-model="newSprint.endDate" onkeydown="$('#newSprintEnd').removeClass('error')"></td>
					<td>
						<button ng-click="usersPopup()">Show Members ({{newSprint.users.length}})</button>
						<!--suppress HtmlUnknownTag -->
						<ul id="add_users_popup" title="users to be added" style="display: none">
							<li id="error_no_team" style="display: none">Please select a team first!</li>
							<li id="team_members" ng-show="newSprint.users.length > 0"><b>These People will be added:</b></li>
							<li  id="adding_user_{{user.id}}" ng-repeat = "user in newSprint.users">
								<span>{{user.name}}</span> <button title="don't add this user" ng-click="removeUserFromSprint(user)">x</button>
							</li>
							<li><button onclick="$('#add_users_popup').hide();">OK</button></li>
						</ul>

					</td>
					<td><input type="submit" value="Add Sprint" ng-click="createSprint()"></td>
				</tr>
			</table>
		</form>
		<div><a class="clickable" href="users.html">&raquo; User Management</a></div>
	</div>
	<div class="errorpopup" style="display:none" id="saveerror" onclick="$('#saveerror').hide();">
		<div>
			<span>x</span>
			Could not create the Sprint: <br><br>
			<div ng-bind-html="lastError"></div>
		</div>
	</div>

</body>
</html>
